 html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        height: 100%;
      }

 .App{
 	display: flex;
 }

.List{
	margin: 3% 3%;
	font-size: 2em;
}

.Map{
	width: 100%;
}